.form{
    background-color: skyblue;

}
.form2{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.right{
    width: 450px;
    background-color: rgb(230, 230, 221);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    border-radius: 15px;
}
.left{
display: flex;
justify-content: center;

}
.log2{
    justify-content: center;
    margin-top: 1.5rem;
    background-color: skyblue;

}
button{
    border: none;
    outline: none;
    background-color: white;
    border-radius: 12px;
    width: 90px;
    height: 45px;

}
.btl{
    width: 100%;
}
