*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    padding-top: 10vh;
    height: 100vh;
    font-size: large;
    gap: 60px;
}   
.copy{
    width: 550px;
    height: 75vh;
    background-color: rgb(230, 230, 221);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 15px;
    border-radius: 15px;
    gap: 10px;
}
input{
    height: 6vh;

}
.log3{
    background-color: skyblue;
}
.formm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.message{
    color: green;
}