.tracking-container {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  background-image: url('../images/trackimg5.jpg');
  width: 100%;
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 50px;
  background-color: rgb(2, 2, 60);

}

.tracking-form-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
  border-bottom: 2px solid white;
  border-radius: 10px;
  color: black;
  height: 40vh;
}

.container-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 750px;

}

.btnnn>.btn-last {
  background-color: rgb(2, 2, 60);
  color: white;
  border-radius: 12px;
  width: 90px;
  height: 55px;
}

.btn-last:hover {
  color: white;
  background-color: skyblue;
}

.main-section {
  background-color:  #0b3d91;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 80%;
  /* border:2px solid red; */
  display: flex;
  justify-content: space-between;
}

.main-header {
  /* border: 2px solid red; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
}

.steps {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: white;
  border-radius: 100%;
  z-index: 10;
}

.active .steps {
  background-color: skyblue;
}

.complete .steps {
  background-color: green;
}

.complete p {
  background-color: white;
}

.main-header:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 30%;
  right: 50%;
  height: 3px;
  background-color: white;
  width: 100%;
}

.complete:not(:first-child)::before,
.active:not(:first-child)::before {
  background-color: green;
}
.status{
  color: white;
}