.tracking-container {
   padding: 60px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: white;
   font-size: 40px;
   font-weight: bold;
   background-image: url('../images/trackimg33.png');
   width: 100%;
   height: 550px;
   background-repeat: no-repeat;
   background-size: cover;
   gap: 50px;
   background-color: rgb(2, 2, 60);

}

.tracking-form-container {

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   background-color: white;
   border-bottom: 2px solid white;
   border-radius: 10px;
   color: black;
   height: 40vh;
}

.container-box {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   width: 750px;

}
.btnnn>.btn-last{
   background-color: rgb(2, 2, 60);
   color: white;
    border-radius: 12px;
    width: 90px;
    height: 55px;
}
.btn-last:hover{
   color: white;
   background-color: skyblue;
}
