.listing{

    gap: 50px;
    align-items: center;
    font-weight: 500;
    font-size: large;
    text-decoration: none;
    color: beige;
    


}

.any{
    text-decoration: none;
    color: white;
}
button{
    height: 45px;
    width: 80px;
    
    border-radius: 10px;
    border: none;
    
    
    


}
button:hover{
    color: white;
    background-color: blue;
    cursor: pointer;
}
.btn{
    gap: 15px;
}
